@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

h1{
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.top-bar{
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    background-color: #000;
    font-size: 19px;
}

.header-nav li {
    display: inline-block;
    margin-right: 12px;
}

.header-nav li:last-child {
    background-color: rgb(255, 145, 0);
    border-radius: 30px;
    padding: 10px 15px;
}


.header-nav li a{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    transition: color .3s;

}

.a-contact-orange:hover{
    color: orange;

}

.a-contact-black:hover{
    color: #000;
    
}

.Logo{
    width: 200px;
    margin-bottom: 15px;
    margin-right: auto;
    cursor: pointer;
}

.Menu{
    width: 40px;
    margin-left: 12px;
}

.main{
    height: 600px;
    background: linear-gradient(#000, #0030) ,no-repeat center top / cover url("../images/workspace.jpg") fixed;
    padding: 0 40px;
    color: #fff;
}

.main-content{
    padding-top: 20px;
}

.main h1, .main p {
    color: #fff;
    text-align: center;
}

.main h1{
    font-size: 55px;
    letter-spacing: 1px;
    padding-top: 80px;
    line-height: 1.5;
}

.main p{
    margin-top: 5px;
    line-height: 1.2;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.button a{
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    padding: 12px;
    margin-right: 8px;
    font-size: 23px;
}

.main a:last-of-type{
    background-color: #fff;
    border: #fff;
    color: #000;
}

.about{
    height: 650px;
    background: #000;    
    color: #fff;
    padding: 60px 30px;
    text-align: start;
}

.about-main-div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.about h1{
    font-family: 'poppins', 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.about-main-div-text{
    margin-bottom: 20px;
}

.about-main-div-text p{
    max-width: 600px;
    margin-top: 18px;
}

.about-main-div-text .button{
    justify-content: flex-start;
}

.letter{
    color: rgb(255, 145, 0);
}

.about-main-div > p{
    margin-top: 15px;
}

.button-about a{
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    padding: 12px;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 23px;
}

.photo{
    border: 3px solid #fff;
    margin-right: 50px;
    width: 270px;
}

.skills{
    height: auto;
    background-color: rgb(0, 0, 0, 0.9);
    color: inherit;
    padding: 60px 30px;
}

.skills h1{
    text-align: center;
    font-family: 'poppins', 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;

}

.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px;

}

.articles-skills{
    background-color: #000;
    border-radius: 10px;
    width: 300px;    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px #ffffff11;
    padding: 10px;
    margin: 50px;
    text-align: center;
    justify-content: space-around;
    text-align-last: center;
    transition: transform 0.5s;
}

.articles-skills:hover{
    transform: translateY(-10px);
}

.articles-skills:first-child{
    justify-content: space-between;

}

.articles-skills *{
    margin-bottom: 10px;
}


.articles-skills p{
    text-align: center;
    margin-top: 16px;
}

.articles-skills a{
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    padding: 12px;
    margin-right: 8px;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 8px;

}

.articles-skills a:hover{
    background-color: rgb(255, 145, 0);
    box-shadow: 0 4px 12px 0 rgba(229, 116, 10, 0.75);
    background-size: 300% 100%;
    border: none;

}


.contact{
    background-color: #000;
    padding: 30px;
    position: relative;
}

.form{
    margin: 80px 80px 0;
    max-width: 47%;
}

.form input{
    background-color: rgb(0, 0, 0, 0.9);
    padding: 15px;
}

input:first-of-type{
    margin-right: 5px;
}

input:first-child, input:nth-child(2) {
    width: calc(50% - 5px);
}

input:last-child{
    width: 100%;
    height: 180px;
    margin-top: 8px;
    vertical-align: top;
    margin-bottom: 15px;
}

.btn-sousmettre{
    border: 1px solid rgb(255, 115, 0);
    text-decoration: none;
    margin-left: 80px;
    padding: 5px;
    background-color: rgb(255, 145, 0);
    border-radius: 5px;
}

.contact-info{
    position: absolute;
    right: 2%;
    top: 18%;
}

.contact-info h1{
    color: rgb(255, 145, 0);
    font-size: 50px;
}

.Social-media {
    margin: 40px 80px;
}

.Social-media a {
    margin-right: 15px;
}

.Social-media a img{
    max-height: 40.4px;
    width: auto;
}

section.moncv-main{
    background: #000;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.moncv-main img {
    width: 50%;
    margin-right: 30px;
    order: 2;

}

.title-p p{
    margin-top: 30px;
    margin-left: 60px;

}

.title-p h1 {
    margin-top: 60px;
    margin-left: 60px;
    order: 1;
    font-size: 40px;
    font-weight: 600;

}

.button-cv{
    margin: 60px 0 0 60px;
    display: flex;
}

.button-cv a{
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    padding: 12px;
    margin-right: 9px;
    font-size: 23px;
    border-radius: 5px;

}

.button-cv a:first-of-type{
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 15px;
}

.button-cv a img{
    width: 25px;
    margin-right: 13px;
}


